<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <httpRuntime />
  </system.web>
  <!-- IIS in-process hosting for ASP.NET Core. Do not set processPath/arguments when hostingModel="inprocess". -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore hostingModel="inprocess" stdoutLogEnabled="true" stdoutLogFile=".\\logs\\stdout">
      <environmentVariables>
        <add name="ASPNETCORE_DETAILEDERRORS" value="true" />
        <add name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
